{{ form_start(form) }}

<div class="form-row"> 
<style>
.entreprise{
	display:none;
}
#tuteurs_users{
	display:none;
}
.select2{
    width: 100% !important;
}
</style>

	<div class="col-md-3">
		{{ form_label(form.users.email,'Email ') }}
		<span class="required">*</span>
		{{ form_row(form.users.email,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.users.email) }}
	</div>
	<div class="col-md-3 password">
		{{ form_label(form.users.password,'Mot de passe ') }}
		<span class="required">*</span>
		{{ form_row(form.users.password,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.users.password,) }}
	</div>
</div>
<br><br>


<div class="form-row">

	<div class="col-md-3">
		{{ form_row(form.type,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.type) }}
	</div>
	<div class="col-md-3 entreprise">
		{{ form_row(form.entreprise,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.entreprise) }}
	</div>
		<div class="col-md-8">
		{{ form_row(form.etudiants,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.etudiants) }}
	</div>
</div>
<br>
<div class="form-row">
	<div class="col-md-3">
		{{ form_row(form.nom,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.nom) }}
	</div>
	<div class="col-md-3">
		{{ form_row(form.prenom,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.prenom) }}
	</div>

	<div class="col-md-3">
		{{ form_row(form.adresse,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.adresse) }}
	</div>

</div>
<br>
<div class="form-row">

	<div class="col-md-3">
		{{ form_row(form.telephone,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.telephone) }}
	</div>
	<div class="col-md-3">
		{{ form_row(form.email,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.email) }}
	</div>

</div>

<br>


<br>
<button class="mt-1 btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
ou
<a href="{{ path('app_tuteurs_index') }}">Retour à la liste</a>

{{ form_end(form) }}
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	<script>

		$(document).ready(function () {
$("#tuteurs_entreprise").select2({placeholder: "Filtrer par classe", allowClear: true});
$("#tuteurs_type").select2({placeholder: "Filtrer par module", allowClear: true});

$('#tuteurs_type').on('change', function() {
	if(this.value == 'Tuteur pédagogique'){
		$('.entreprise').hide();

	}
		if(this.value == 'Tuteur entreprise'){
$('.entreprise').show();
	}

});

});



	</script>