{{ form_start(form) }}
<div class="form-row">
	<div class="col-md-3">
	
	</div>
	<div class="col-md-3">
	
	</div>
	<div class="col-md-3">

	</div>


</div>
<br>
<div class="form-row">
	


	<div class="col-md-3">
	{{ form_label(form.classes, 'Classe') }}
		{{ form_row(form.classes,{'attr': {'class': 'form-control select'}}) }}
		{{ form_errors(form.classes) }}
	</div>
			<div class="col-md-3">
	{{ form_label(form.type, 'Type') }}
		{{ form_row(form.type,{'attr': {'class': 'form-control select'}}) }}
		{{ form_errors(form.type) }}
	</div>
	<div class="col-md-3">
	{{ form_label(form.blocid, 'Bloc') }}
		{{ form_row(form.blocid,{'attr': {'class': 'form-control select'}}) }}
		{{ form_errors(form.blocid) }}
	</div>
	<div class="col-md-3">
	{{ form_label(form.moduleid, 'Module') }}
		{{ form_row(form.moduleid,{'attr': {'class': 'form-control select'}}) }}
		{{ form_errors(form.moduleid) }}
	</div>


</div>
<br>
<div class="form-row">
	<div class="col-md-3">
	
	</div>
</div>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
