{{ form_start(form) }}
<style>
.tableau{
	display: inline-block;
	max-width: 24%;
	padding:5px;
}
.panel-success {
    border-color: #dddddd;
}
.panel-success>.panel-heading {
    background: linear-gradient(to bottom, #fff 0%, #f6f6f6 19%, #ededed 100%);
    border-color: #dddddd;
    color: #000;
}
.panel-title {

	    font-size: 15px;
    padding: 15px;
}
#show_discount_button {
    border-radius: 3px;
    font-size: 0.9em;
    margin-right: 5px;
    position: relative;
    color: #000;
    padding: 10px;
    text-decoration: none;
    margin-top: -87px;
}
.btn-glow {
    font-size: 12px;
    border-radius: 4px;
    color: #333;
    padding: 5px 10px;
    text-align: center;
    box-shadow: 0px 1px 0px 0px rgb(255 255 255 / 20%) inset, 0px 1px 0px 0px #ccc;
    display: inline-block;
    border: 1px solid #e5e5e5;
    vertical-align: middle;
    cursor: pointer;
    background: #ffffff;
    background: -moz-linear-gradient(top, #fff 0%, #eef0f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #eef0f1));
    background: -webkit-linear-gradient(top, #fff 0%, #eef0f1 100%);
    background: -o-linear-gradient(top, #fff 0%, #eef0f1 100%);
    background: -ms-linear-gradient(top, #fff 0%, #eef0f1 100%);
    background: linear-gradient(to bottom, #fff 0%, #eef0f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eef0f1',GradientType=0 );
}
.bolder{
	font-weight:bold;
}
.etudiant,.add_tag_list{
	display: none;
}
.absence,.retard {
	margin-bottom:23px;
}
#etudiant{
	padding-left: 30px;
	font-weight:bold;
}
.titrenote{
	
}
</style>

<div class="row">
	<div class="col-md-3">
		{{ form_label(form.classes, 'Classe') }}
		{{ form_row(form.classes,{'attr': {'class': 'form-control select'}}) }}
		{{ form_errors(form.classes) }}
	</div>
	<div class="col-md-3">
		{{ form_label(form.type, 'Type') }}
		{{ form_row(form.type,{'attr': {'class': 'form-control select'}}) }}
		{{ form_errors(form.type) }}
	</div>
			<div class="col-md-3">
		{{ form_label(form.semestre, 'semestre') }}
		{{ form_row(form.semestre,{'attr': {'class': 'form-control select'}}) }}
		{{ form_errors(form.semestre) }}
	</div>
	</div>
	<br>
<div class="row">
	<div class="col-md-3">
		{{ form_label(form.blocid, 'Bloc') }}
		{{ form_row(form.blocid,{'attr': {'class': 'form-control select'}}) }}
		{{ form_errors(form.blocid) }}
	</div>
	<div class="col-md-3">
		{{ form_label(form.moduleid, 'Module') }}
		{{ form_row(form.moduleid,{'attr': {'class': 'form-control select'}}) }}
		{{ form_errors(form.moduleid) }}
	</div>

</div>
	<br><hr>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">
				<strong>Apprenants</strong>
			</h3>
			<div class="pull-right">
			<a id="show_discount_button" class="btn-glow btn-xs discount1 bolder">Note 1</a>
				<a id="show_discount_button" class="btn-glow btn-xs discount2">Note 2</a>
					<a id="show_discount_button" class="btn-glow btn-xs discount3">Note 3</a>
			</div>
		</div>






	</div>

	{% macro tagCollectionItem(tableau) %}




						<div class="row">
				<div class="col-md-3"> </div>
					<div class="col-md-3 titrenote">Note1 /20</div>
					<div class="col-md-3">Observation</div>
					<div class="col-md-3">Pièce jointe</div>
						<div class="col-md-3" id="etudiant">
					
				{{ form_row(tableau.etudiant,{'attr': {'class': 'form-control etudiant'}}) }}
				{{ form_errors(tableau.etudiant) }}
						</div>

					<div class="col-md-3">
						
				{{ form_row(tableau.note1,{'attr': {'class': 'form-control note1 '}}) }}
				{{ form_errors(tableau.note1) }}

					{{ form_row(tableau.note2,{'attr': {'class': 'form-control note2 '}}) }}
				{{ form_errors(tableau.note2) }}

					{{ form_row(tableau.note3,{'attr': {'class': 'form-control note3 '}}) }}
				{{ form_errors(tableau.note3) }}
				
						</div>
						
					<div class="col-md-3">
						
				{{ form_row(tableau.observation1,{'attr': {'class': 'form-control  observation1'}}) }}
				{{ form_errors(tableau.observation1) }}
					{{ form_row(tableau.observation2,{'attr': {'class': 'form-control  observation2'}}) }}
				{{ form_errors(tableau.observation2) }}

				{{ form_row(tableau.observation3,{'attr': {'class': 'form-control  observation3'}}) }}
				{{ form_errors(tableau.observation3) }}
				
						</div>
			<div class="col-md-3">
						
				{{ form_row(tableau.copie,{'attr': {'class': 'form-control '}}) }}
				{{ form_errors(tableau.copie) }}
								
				
						</div>
									
		
			</div>
		
	<hr>
		
	{% endmacro %}
	
			
	<div class="tags" style="width:100%; " data-index="{{ form.tableau|length > 0 ? form.tableau|last.vars.name + 1 : 0 }}" data-prototype="{{ _self.tagCollectionItem(form.tableau.vars.prototype)|e('html_attr') }}">

				<div class="panel-body" style="font-size: 11px;color: black;padding-right: 0;padding-left: 1px; padding-bottom: 20px;    display: inline;">

							
		{% for tableau in form.tableau %}

	{{ _self.tagCollectionItem(tableau) }}

		{% endfor %}

	</div>
			
		
	</div>
	


<br>


<button type="submit" class="mt-1 btn btn-success">Sauvegarder</button>
{{ form_end(form) }}
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<script>
const addTagLink = document.createElement('a')
addTagLink.classList.add('add_tag_list')
addTagLink.href='#'
addTagLink.innerText='Add a tag'
addTagLink.dataset.collectionHolderClass='tags'

const newLinkLi = document.createElement('div').append(addTagLink)

const collectionHolder = document.querySelector('div.tags')
collectionHolder.appendChild(addTagLink)

const addFormToCollection = (e) => {
	const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

      const item = document.createElement('div');
		
      item.innerHTML = collectionHolder
        .dataset
        .prototype
        .replace(
          /__name__/g,
          collectionHolder.dataset.index
        );

      collectionHolder.appendChild(item);

      collectionHolder.dataset.index++;
	  collectionHolder.appendChild(addTagLink)
}

addTagLink.addEventListener("click", addFormToCollection)
</script>

{% for etudiant in etudiants %}

{% set aa = loop.index %}
<input class="etudiantsListe {{aa}}" type="text" value="{{etudiant.id}}" style="display:none;" >
{% for tableau in etudiant.tableauNotes %}

<input id="note{{aa}}" class="note1 {{aa}} lanote" type="text" value="{{tableau.note1}}" style="" >
<input id="observation{{aa}}" class="observation1 {{aa}} lobservation" type="text" value="{{tableau.observation1}}" style="" >


<input id="note{{aa}}" class="note1 {{aa}} lanote2" type="text" value="{{tableau.note2}}" style="" >
<input id="observation{{aa}}" class="observation2 {{aa}} lobservation2" type="text" value="{{tableau.observation2}}" style="" >

<input id="note{{aa}}" class="note1 {{aa}} lanote3" type="text" value="{{tableau.note3}}" style="" >
<input id="observation{{aa}}" class="observation3 {{aa}} lobservation3" type="text" value="{{tableau.observation3}}" style="" >


{% endfor %}
{% endfor %}

<script>
$( ".etudiantsListe" ).each(function(index) {

  addTagLink.click();

var counter =1;
$('.etudiant').each(function () {
		$(this).val($('.'+counter).val())

  
    counter++;
	




});

});
	
$(".lanote").each(function(index) {

$(this).addClass( "tt"+index );

$("#notes_tableau_"+index+"_note1").val($(this).val());

});

$(".lanote").each(function(index) {

$(this).addClass( "tt"+index );

$("#notes_tableau_"+index+"_note1").val($(this).val());

});
$(".lanote2").each(function(index) {

$(this).addClass( "tt2"+index );

$("#notes_tableau_"+index+"_note2").val($(this).val());

});
$(".lanote3").each(function(index) {

$(this).addClass( "tt3"+index );

$("#notes_tableau_"+index+"_note3").val($(this).val());

});
$(".lobservation").each(function(index) {

$(this).addClass( "bb"+index );

$("#notes_tableau_"+index+"_observation1").val($(this).val());

});
$(".lobservation2").each(function(index) {

$(this).addClass( "bb2"+index );

$("#notes_tableau_"+index+"_observation2").val($(this).val());

});

$(".lobservation3").each(function(index) {

$(this).addClass( "bb3"+index );

$("#notes_tableau_"+index+"_observation3").val($(this).val());

});


var semestre = $( "#notes_semestre" ).val();

$( "#notes_classes" ).change(function() {
	
window.location = '/notes/new/'+$(this).val()+'/'+semestre;



});

$( "#notes_semestre" ).change(function() {
	var classe = $( "#notes_classes" ).val();
window.location = '/notes/new/'+classe+'/'+$(this).val();

$('#notes_semestre').val($(this).val());

});


var valll = window.location.pathname;

$('#notes_semestre option:contains("'+valll.substring(valll.lastIndexOf('/') + 1)+'")').prop('selected', true);
$('.note2').hide()
$('.observation2').hide()
$('.note3').hide()
$('.observation3').hide()

$( ".discount1" ).click(function() {
$(this).addClass( "bolder" );
$('.titrenote').text('Note1 /20')	
$(".discount2").removeClass( "bolder" );
$(".discount3").removeClass( "bolder" );		
$('.note1').show()
$('.observation1').show()

$('.note2').hide()
$('.observation2').hide()

$('.note3').hide()
$('.observation3').hide()
});
$( ".discount2" ).click(function() {
$(this).addClass( "bolder" );	
$('.titrenote').text('Note2 /20')
$(".discount1").removeClass( "bolder" );
$(".discount3").removeClass( "bolder" );	
$('.note1').hide()
$('.observation1').hide()

$('.note2').show()
$('.observation2').show()

$('.note3').hide()
$('.observation3').hide()
});
$( ".discount3" ).click(function() {
	$(this).addClass( "bolder" );	
	$('.titrenote').text('Note3 /20')
$(".discount1").removeClass( "bolder" );
$(".discount2").removeClass( "bolder" );	
$('.note1').hide()
$('.observation1').hide()

$('.note2').hide()
$('.observation2').hide()

$('.note3').show()
$('.observation3').show()
});


$( "div#etudiant" ).each(function(index) {

$(this).addClass( "index"+index );

$(".index"+index).append($( "#notes_tableau_"+index+"_etudiant option:selected" ).text())






});


</script>

<script>
	var $sport = $('#notes_classes');
// When sport gets selected ...
$sport.change(function () { // ... retrieve the corresponding form.
var valll = window.location.pathname;
if (valll == "/notes/new/"+$(this).val()+"/"+valll.substring(valll.lastIndexOf('/') + 1)) {
var $form = $(this).closest('form');
// Simulate form data, but only include the selected sport value.

var data = {}
data[$sport.attr('name')] = $sport.val();

// Submit data via AJAX to the form's action path.
$.ajax({
url: $form.attr('action'),
type: $form.attr('method'),
data: data,
complete: function (html) { // Replace current position field ...

$('#notes_bloc').replaceWith(
// ... with the returned one from the AJAX response.
$(html.responseText).find('#notes_bloc')

);
// Position field now displays the appropriate positions.
$('#notes_bloc').select2();
}
});
} else {
var $form = $(this).closest('form');
// Simulate form data, but only include the selected sport value.

var data = $form.serializeArray()


// Submit data via AJAX to the form's action path.
$.ajax({
url: $form.attr('action'),
type: $form.attr('method'),
data: data,
complete: function (html) { // Replace current position field ...

$('#notes_bloc').replaceWith(
// ... with the returned one from the AJAX response.
$(html.responseText).find('#notes_bloc')

);

$('#notes_bloc').select2();
// Position field now displays the appropriate positions.

}
});

}

});
</script>