{{ form_start(form) }}

<div class="form-row">
	<div class="col-md-3">
	{{ form_label(form.classe,'Classe ') }}
		{{ form_row(form.classe,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.classe) }}<br>


	</div>

	
	<div class="col-md-3">
    	{{ form_label(form.users,'Utilisateurs ') }}
		{{ form_row(form.users,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.users) }}<br>


	</div>


	<div class="col-md-3">
		{{ form_row(form.type,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.type) }}<br>


	</div>
	<div class="col-md-3">
		{{ form_row(form.nom,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.nom) }}<br>


	</div>
</div>
<div class="form-row">
	<div class="col-md-3">
		{{ form_row(form.files,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.files) }}


	</div>
</div>
<br><br>
<div class="form-row">

<button class="mt-1 btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
ou
<a href="{{ path('app_docadmins_index') }}">Retour à la liste</a>
</div>




{{ form_end(form) }}
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

		<script>
			$("#messages_recipient").select2({
tags: true,
tokenSeparators: [',', ' ']
})
$("#docadmins_users").select2({
tags: true,
tokenSeparators: [',', ' ']
})


		</script>