{% extends 'base.html.twig' %}

{% block title %}Docadmins{% endblock %}

{% block body %}
    <h1>Docadmins</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ docadmin.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ docadmin.nom }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ docadmin.createdAt ? docadmin.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ docadmin.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_docadmins_index') }}">back to list</a>

    <a href="{{ path('app_docadmins_edit', {'id': docadmin.id}) }}">edit</a>

    {{ include('docadmins/_delete_form.html.twig') }}
{% endblock %}
