{% block modal_entreprise_creation %}

	<style>
		.modal-backdrop.show,
		.show.blockOverlay {
			opacity: .5;
			z-index: -1;
		}
		.modal-dialog {
			margin: 2.75rem auto 2.75rem 28%;
			max-width: 58%;
		}
	</style>
	{{ form_start(form2) }}
	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document" style="margin-top:100px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ajouter une entreprise</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">


					<div class="form-row">
						<div class="col-md-3">
							{{ form_label(form2.users.email,'Email ') }}
							<span class="required">*</span>
							{{ form_row(form2.users.email,{'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form2.users.email) }}
						</div>
						<div class="col-md-3 password">
							{{ form_label(form2.users.password,'Mot de passe ') }}
							<span class="required">*</span>
							{{ form_row(form2.users.password,{'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form2.users.password,) }}
						</div>
						<div class="col-md-3">
							{{ form_row(form2.nom,{'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form2.nom) }}
						</div>
						<div class="col-md-3">
							{{ form_row(form2.siret,{'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form2.siret) }}
						</div>
						<div style="display:none;">
							{{ form_row(form2.users.isVerified,{'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form2.users.isVerified,) }}
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-6">
							{{ form_row(form2.adresse,{'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form2.adresse) }}
						</div>
						<div class="col-md-6">
							{{ form_row(form2.telephone,{'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form2.telephone) }}
						</div>
						<br><br>
					</div>

					<div class="form-row">
					<br>
					<h5 class="modal-title" id="exampleModalLabel"> Informations de Contact</h5>
				
						<div class="col-md-12">
							{{ form_label(form2.responsable,'Représentant Entreprise ') }}

							{{ form_row(form2.responsable,{'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form2.responsable) }}
						</div>
						<div class="col-md-6">
						<br>
							{{ form_row(form2.emailrepresentant1,{'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form2.emailrepresentant1) }}
						</div>
						<div class="col-md-6">
						<br>
							{{ form_row(form2.numerotelephone1,{'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form2.numerotelephone1) }}
						</div>
						<div class="col-md-6">
						<br>
							{{ form_row(form2.emailrepresentant2,{'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form2.emailrepresentant2) }}
						</div>
						<div class="col-md-6">
						<br>
							{{ form_row(form2.numeortelephone2,{'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form2.numeortelephone2) }}
						</div>
					
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
					<button type="submit" class="btn btn-primary">Ajouter</button>
				</div>

				{{ form_end(form2) }}
			</div>
		</div>
	</div>

{% endblock %}
