{% extends 'base.html.twig' %}

{% block title %}Absintervenants index{% endblock %}

{% block body %}
    <h1>Absintervenants index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Created_at</th>
                <th>Created_by</th>
                <th>Du</th>
                <th>Au</th>
                <th>Absent</th>
                <th>Dateabsence</th>
                <th>Enretard</th>
                <th>Dateretard</th>
                <th>Present</th>
                <th>Datepresence</th>
                <th>Userid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for absintervenant in absintervenants %}
            <tr>
                <td>{{ absintervenant.id }}</td>
                <td>{{ absintervenant.date ? absintervenant.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ absintervenant.createdAt ? absintervenant.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ absintervenant.createdBy }}</td>
                <td>{{ absintervenant.du ? absintervenant.du|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ absintervenant.au ? absintervenant.au|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ absintervenant.absent ? 'Yes' : 'No' }}</td>
                <td>{{ absintervenant.dateabsence ? absintervenant.dateabsence|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ absintervenant.enretard ? 'Yes' : 'No' }}</td>
                <td>{{ absintervenant.dateretard ? absintervenant.dateretard|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ absintervenant.present ? 'Yes' : 'No' }}</td>
                <td>{{ absintervenant.datepresence ? absintervenant.datepresence|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ absintervenant.userid }}</td>
                <td>
                    <a href="{{ path('app_absintervenants_show', {'id': absintervenant.id}) }}">show</a>
                    <a href="{{ path('app_absintervenants_edit', {'id': absintervenant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_absintervenants_new') }}">Create new</a>
{% endblock %}
