{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}

	<style>
		.table-scroll {
			margin: 0;
			width: 100%;
		}
		table {
			border: 1px solid gray;
			border-collapse: collapse;
			width: 100%;
		}
		table td,
		table th {
			border: 1px solid gray;
			padding: 0.5rem 0.75rem;
			vertical-align: middle;
		}
		.vertical-timeline-element-content .vertical-timeline-element-date {

    left: -120px;

}
	</style>
	{{ block("MenuTop", "Menus/MenuTop.html.twig") }}
	<div class="app-main">
		{{ block("MenuLeft", "Menus/MenuLeft.html.twig") }}
		<div class="app-main__outer">
			<div class="app-main__inner">


				<div class="tabs-animation">
					<div class="row">

						<div class="card mb-3">
							<div class="card-header position-relative mb-7" style="margin-top:95px;    border: none;">
							      <div class="col-md-2">
								<!--/.bg-holder-->
                                		
								<div class="avatar avatar-5xl avatar-profile">
                                	{% if app.user.profil %}
															<img style="margin-top: 0 !important;"class="rounded-circle img-thumbnail shadow-sm" width="200" src="{{ asset('uploads/' ~ app.user.profil.image)}} ">
																{% else %}
																 <img class="rounded-circle img-thumbnail shadow-sm" src="{{ asset('../../assets/images/3.jpg')}}" width="200" alt="">
																{% endif %}
                               
                                
                                
                                </div>
						 </div>
                        <div class="col-md-6" style="
    margin-left: -100px;">
                        	<h4 class="mb-1">
												{{ app.user.nom }}
												{{ app.user.prenom }}<span data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Verified">
													<svg class="svg-inline--fa fa-check-circle fa-w-16 text-primary" data-fa-transform="shrink-4 down-2" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="check-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg="" style="transform-origin: 0.5em 0.625em;">
														<g transform="translate(256 256)">
															<g transform="translate(0, 64)  scale(0.75, 0.75)  rotate(0 0 0)">
																<path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" transform="translate(-256 -256)"></path>
															</g>
														</g>
													</svg><!-- <small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small> Font Awesome fontawesome.com --></span>
											</h4>
                                            {% if app.user.classe %}
											<h5 class="fs-0 fw-normal">{{ app.user.classe.nom }}</h5>
                                            {% else %}

                                             {% endif  %}
											<p class="text-500">{{ app.user.adresse }}</p>
                               </div>
                            </div>
				
							<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
								<li class="nav-item">
									<a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
										<span>Informations Personnelles</span>
									</a>
								</li>
				
								<li class="nav-item">
									<a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
										<span>Absences</span>
									</a>
								</li>
								<li class="nav-item">
									<a role="tab" class="nav-link" id="tab-2" data-toggle="tab" href="#tab-content-2">
										<span>Progression & Resultats</span>
									</a>
								</li>

                                <li class="nav-item">
									<a role="tab" class="nav-link" id="tab-3" data-toggle="tab" href="#tab-content-3">
										<span>Parcour professionnel</span>
									</a>
								</li>

							</ul>


							<div class="tab-content">
								<div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
									<div class="row">
										<div class="col-md-12">
											<div class="main-card mb-3 card">
												<div class="card-body">
													<h5 class="card-title">Informations Personnelles</h5>

													<div class="card-body">
														<h5 class="fs-0 fw-normal">
															Nom :{{ app.user.nom }}
															{{ app.user.prenom }}
														</h5><br>
														<h5 class="fs-0 fw-normal">
															Adresse :
															{{ app.user.adresse }}
														</h5><br>
											
														<h5 class="fs-0 fw-normal">
															Téléphone :
															{{app.user.telephone}}
														</h5><br>

														<h5 class="fs-0 fw-normal">
															Email :
															{{app.user.email}}
														</h5>
													</div>


												</div>
											</div>
										</div>

									</div>
								</div>


								<div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
									<div class="row">

										<div class="col-md-6">

											<div class="main-card mb-3 card">
												<div class="card-body">
													<h5 class="card-title">Retard</h5>

													<div class="card-body">
                                                    {% for etudiant in etudiant.tableauAbsences %} {% if etudiant.enretard %} Retard de {{etudiant.retard|date("i")}} minutes le {{etudiant.du|date("d/m/y h:i")}} {% else %} {% endif %} {% endfor %}

												

													</div>

												</div>

											</div>
										</div>
										<div class="col-md-6">

											<div class="main-card mb-3 card">
												<div class="card-body">
													<h5 class="card-title">Absences</h5>

													<div class="card-body">

											             {% for etudiant in etudiant.tableauAbsences %} {% if etudiant.absence %} Absent le {{etudiant.du|date("d/m/y")}}  {% else %} {% endif %}  {% if etudiant.justifications == null %}  {% else %} <span style="color:green;">Justifier l'absence </span> {% endif %} <br> {% endfor %}


													</div>

												</div>

											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane tabs-animation fade" id="tab-content-2" role="tabpanel">
									<div class="row">
										<div class="col-md-12">
											<div class="main-card mb-3 card">
												<div class="card-body">


												
                                                <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                                                    <li class="nav-item">
                                                        <a role="tab" class="nav-link active" id="tabs-1" data-toggle="tab" href="#semestre1">
																<span>1er semestre</span>
															</a>
                                                    </li>

                                                    <li class="nav-item">
                                                        <a role="tab" class="nav-link" id="tabs-2" data-toggle="tab" href="#semestre2">
																<span>2ème semestre</span>
															</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a role="tab" class="nav-link" id="tabs-3" data-toggle="tab" href="#semestre3">
																<span>3ème semestre</span>
															</a>
                                                    </li>

                                                    <li class="nav-item">
                                                        <a role="tab" class="nav-link" id="tabs-4" data-toggle="tab" href="#semestre4">
																<span>4ème semestre</span>
															</a>
                                                    </li>

                                                </ul>



                                                <div class="tab-pane tabs-animation fade show active " id="semestre1" role="tabpanel">



                                                    <div class="tab-content">
                                                        <div class="tab-pane tabs-animation fade show active" id="devoirs-s1" role="tabpanel">
            
  
            
            
            
                 
                                                            <table>
                                                                <tbody>

                                                                    <td style="    border-top: solid 1px white;    border-left: solid 1px white;    border-right: solid 1px white;"></td>

                                                                    <td style="    border-top: solid 1px white;"></td>

                                                                    <th scope="col">Coef</th>

                                                                    <th scope="col">Note 1</th>
													<th scope="col">Note 2</th>
                                                    <th scope="col"> Examen</th>
                                                           			

                                                                    <th scope="col">Moyenne</th>

                                                                    {% set moyennegeneral = 0 %} {% set nb = 0 %} 
																	{% for note in tableaunotes %}


                                                                    <tr>

                                                                        {% set coefmodule = 0 %}
																		
																		 {% for module in note.notes %}




                                                                        <tr>

                                                                            <th rowspan="3" scope="rowgroup">{{module.bloc.nom}}
                                                                                <br><br> Coef: {{module.bloc.coefficient}}
                                                                            </th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">{{module.module.nom}}</th>

                                                                            <td>{{module.module.coefficient}}</td>

                                                                            {% set coefmodule =+ module.module.coefficient %} 
																			
																			{% endfor %} {% set moyenne = ((note.note1 * coefmodule) + (note.note2 * coefmodule) + (note.note3 * coefmodule)) / (coefmodule) /3 %}
																		
																		
                                                                            <td>{{note.note1}}/20</td>
																		<td>{{note.note2}}/20</td>
                                                                        <td>{{note.note3}}/20</td>
																		
                                                                    
                                                                            <td>{{moyenne|number_format(2, '.', ',') }}/20</td>

                                                                        </tr>


                                                                    </tr>


                                                                    {% set nb = nb + 1 %} {% set moyennegeneral = (moyennegeneral + moyenne)   %} {% endfor %}




                                                                </tbody>

                                                            </table>
														
                                                            <br> Moyenne Générale :
															{% if nb %}
																 {{moyennegeneral|number_format(2, '.', ',') / nb }}/20
																{% else %}
 															{{moyennegeneral|number_format(2, '.', ',') / 1 }}/20
															{% endif %}
															


												</div>

											</div>
										</div>

									</div>
								</div>
								<div class="tab-pane tabs-animation fade" id="tab-content-3" role="tabpanel">
			
												<div class="main-card mb-3 card">
													<div class="card-body">
														<h5 class="card-title">Parcour professionnel</h5>

														<div class="card-body">

													<div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">


														{% if lecv %}
														{% for cv in lecv %}
														<div class="vertical-timeline-item vertical-timeline-element">
															<div>
															<span class="vertical-timeline-element-icon bounce-in">
													<i class="badge badge-dot badge-dot-xl badge-success"> </i>
													</span>
														
																<div class="vertical-timeline-element-content bounce-in">
																	<h4 class="timeline-title">{% if cv.type == 'Formation' %} Formation  {{cv.formation }}  école {{cv.ecole }}  {% else %}   {% endif %} {% if cv.type == 'Expérience' %} Expérience {{cv.titre }}  {{cv.entreprise }}   {% else %}   {% endif %} </h4>
																	{{cv.description|nl2br}}
																	<span class="vertical-timeline-element-date">Du {{cv.debut|date("d/m/Y") }} <br> Au {{cv.fin|date("d/m/Y") }}</span>
																</div>
															</div>
														</div>
														{% endfor %}

														{% else %}

													{% endif %}

													</div>

														</div>

													</div>

												</div>

								</div>

							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>



<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


{{ block("Footer", "Menus/Footer.html.twig") }}
<div class="app-drawer-overlay d-none animated fadeIn"></div>{% endblock %}
