{% extends 'base.html.twig' %}

{% block title %}Absences
{% endblock %}

{% block body %}

	{{ block("MenuTop", "Menus/MenuTop.html.twig") }}
	<div class="app-main">
		{{ block("MenuLeft", "Menus/MenuLeft.html.twig") }}


		<div class="app-main__outer">
			<div class="app-main__inner">
				<div class="app-page-title">
					<div class="page-title-wrapper">
						<div class="page-title-heading">
							<div class="page-title-icon">
								<i class="pe-7s-clock icon-gradient bg-strong-bliss"></i>
							</div>
							<div>Absences
								<div class="page-title-subheading">Informations</div>
							</div>
						</div>
						<div class="page-title-actions">
							{% if is_granted('ROLE_INTERVENANT', 'ROLE_ADMIN')  %}
								<div class="d-inline-block dropdown">
									<a href="{{ path('app_absences_new') }}">
										<button class="btn-shadow btn btn-success">
											<span class="btn-icon-wrapper pr-2 opacity-7">
												<i class="fa fa-plus fa-w-20"></i>
											</span>
											Ajouter une absence
										</button>
									</a>
								</div>
							{% endif %}

						</div>
					</div>
				</div>

				<div class="tabs-animation">
					<div class="row">

						<div class="col-md-6">
							<div class="main-card mb-3 card">
								<div class="card-body">
									<h5 class="card-title">Mes absences</h5>
									<div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">

										<table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid" aria-describedby="example_info">
											<thead>
												<tr role="row">
													<th>Etat</th>
													<th>Date/Heur</th>
													<th>Action</th>

												</tr>
											</thead>
											<tbody>

												{% for absence in absences %}
													<tr>

														<td>
															{% if absence.absence == 1 %}
																Absent
															{% elseif absence.retard %}
																En retard
																{% else %}

															{% endif %}
														</td>

														<td>
															{% if absence.absence %}
																{{ absence.du|date('Y-m-d H:i:s') }}
															{% elseif absence.retard %}
																{{ absence.retard|date('Y-m-d H:i:s') }}
																{% else %}

															{% endif %}


														</td>
														<td>
											
													
																{% if absence.justifications %}
												             Absence justifiée

													    
															{% endif %}

															
														

														
															
														</td>

													</tr>
												{% else %}
													<tr>
														<td colspan="7">no records found</td>
													</tr>
												{% endfor %}

											</tbody>

										</table>


									</div>


								</div>
							</div>
						</div>


						<div class="col-md-6">
							<div class="main-card mb-3 card">
								<div class="card-body">
									<h5 class="card-title">Mes Retards</h5>
									<div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">

										<table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid" aria-describedby="example_info">
											<thead>
												<tr role="row">
													<th>Etat</th>
													<th>Date/Heur</th>
													<th>Action</th>

												</tr>
											</thead>
											<tbody>

												{% for absence in absences %}
													<tr>

														<td>
														
														
															{% if absence.retard %}
																En retard
																{% else %}

															{% endif %}
														</td>

														<td>
													
															{% if absence.retard  %}
																{{ absence.retard|date('Y-m-d H:i:s') }}
																{% else %}

															{% endif %}


														</td>
													


													</tr>
												{% else %}
													<tr>
														<td colspan="7">no records found</td>
													</tr>
												{% endfor %}

											</tbody>

										</table>


									</div>


								</div>
							</div>
						</div>
					</div>


				</div>
			</div>

		</div>

	{% endblock %}
