{{ form_start(form) }}
<div class="form-row"> 

	<div class="col-md-3">
		{{ form_label(form.users.email,'Email ') }}
		<span class="required">*</span>
		{{ form_row(form.users.email,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.users.email) }}
	</div>
	<div class="col-md-3 password">
		{{ form_label(form.users.password,'Mot de passe ') }}
		<span class="required">*</span>
		{{ form_row(form.users.password,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.users.password,) }}
	</div>
</div>
<br><br>
<div class="form-row">
	<div class="col-md-3">
		{{ form_row(form.nom,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.nom) }}
	</div>
	<div class="col-md-3">
		{{ form_row(form.siret,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.siret) }}
	</div>
	<div style="display:none;">
		{{ form_row(form.users.isVerified,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.users.isVerified,) }}
	</div>

</div>
<br>
<div class="form-row">
	<div class="col-md-6">
		{{ form_row(form.adresse,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.adresse) }}
	</div>
	<div class="col-md-6">
		{{ form_row(form.telephone,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.telephone) }}
	</div>

</div>

<br>
<div class="form-row">

<div class="form-row">
<br>
<div class="col-md-12">
<br>
	
	<h4> Informations de Contact</h4>
	<br>			
		{{ form_label(form.responsable,'Représentant Entreprise ') }}

		{{ form_row(form.responsable,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.responsable) }}
	</div>

		<div class="col-md-6">
		<br>
			{{ form_row(form.emailrepresentant1,{'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.emailrepresentant1) }}
		</div>
		<div class="col-md-6">
		<br>
			{{ form_row(form.numerotelephone1,{'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.numerotelephone1) }}
		</div>
		<div class="col-md-6">
		<br>
			{{ form_row(form.emailrepresentant2,{'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.emailrepresentant2) }}
		</div>
		<div class="col-md-6">
		<br>
			{{ form_row(form.numeortelephone2,{'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.numeortelephone2) }}
		</div>
</div>



</div>

<br>
<button class="mt-1 btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
ou
<a href="{{ path('app_entreprises_index') }}">Retour à la liste</a>

{{ form_end(form) }}
