
            
                 
                                                            <table>
                                                                <tbody>

                                                                    <td style="    border-top: solid 1px white;    border-left: solid 1px white;    border-right: solid 1px white;"></td>

                                                                    <td style="    border-top: solid 1px white;"></td>

                                                                    <th scope="col">Coef</th>

                                                                    <th scope="col">Note 1</th>
													<th scope="col">Note 2</th>
                                                    <th scope="col"> Examen</th>
                                                           			

                                                                    <th scope="col">Moyenne</th>

                                                                    {% set moyennegeneral = 0 %} {% set nb = 0 %} 
																	{% for note in tableaunotes %}


                                                                    <tr>

                                                                        {% set coefmodule = 0 %}
																		
																		 {% for module in note.notes %}




                                                                        <tr>

                                                                            <th rowspan="3" scope="rowgroup">{{module.bloc.nom}}
                                                                                <br><br> Coef: {{module.bloc.coefficient}}
                                                                            </th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">{{module.module.nom}}</th>

                                                                            <td>{{module.module.coefficient}}</td>

                                                                            {% set coefmodule =+ module.module.coefficient %} 
																			
																			{% endfor %} {% set moyenne = ((note.note1 * coefmodule) + (note.note2 * coefmodule) + (note.note3 * coefmodule)) / (coefmodule) /3 %}
																		
																		
                                                                            <td>{{note.note1}}/20</td>
																		<td>{{note.note2}}/20</td>
                                                                        <td>{{note.note3}}/20</td>
																		
                                                                    
                                                                            <td>{{moyenne|number_format(2, '.', ',') }}/20</td>

                                                                        </tr>


                                                                    </tr>


                                                                    {% set nb = nb + 1 %} {% set moyennegeneral = (moyennegeneral + moyenne)   %} {% endfor %}




                                                                </tbody>

                                                            </table>
														
                                                            <br> Moyenne Générale :
															{% if nb %}
																 {{moyennegeneral|number_format(2, '.', ',') / nb }}/20
																{% else %}
 															{{moyennegeneral|number_format(2, '.', ',') / 1 }}/20
															{% endif %}
															


												</div>

											</div>
										</div>

									</div>
								</div>


							</div>


						</div>
					</div>
				</div>
				<script>
					var acc = document.getElementsByClassName("accordion");
var i;
for (i = 0; i < acc.length; i++) {
acc[i].addEventListener("click", function () {
this.classList.toggle("active");
var panel = this.nextElementSibling;
if (panel.style.display === "block") {
panel.style.display = "none";
} else {
panel.style.display = "block";
}
});
}
				</script>
	
