{% extends 'base.html.twig' %}

{% block title %}Justifications{% endblock %}

{% block body %}
    <h1>Justifications</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ justification.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ justification.nom }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ justification.path }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ justification.message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_justifications_index') }}">back to list</a>

    <a href="{{ path('app_justifications_edit', {'id': justification.id}) }}">edit</a>

    {{ include('justifications/_delete_form.html.twig') }}
{% endblock %}
