{% extends 'base.html.twig' %}

{% block title %}TableauAbsences{% endblock %}

{% block body %}
    <h1>TableauAbsences</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tableau_absence.id }}</td>
            </tr>
            <tr>
                <th>Dateabsence</th>
                <td>{{ tableau_absence.dateabsence ? tableau_absence.dateabsence|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Retard</th>
                <td>{{ tableau_absence.retard ? tableau_absence.retard|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tableau_absences_index') }}">back to list</a>

    <a href="{{ path('app_tableau_absences_edit', {'id': tableau_absence.id}) }}">edit</a>

    {{ include('tableau_absences/_delete_form.html.twig') }}
{% endblock %}
