{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
	<style>
		.select2 {
			width: 100% !important;
		}

		.nav-link {

			float: left;
			font-weight: normal;
		}
		.app-page-title .page-title-actions {
			margin-left: 20px;
		}
		#messages_documents {
			display: none;
		}
		.users {
			display: none;
		}
		#messages_brouillon {
			display: none;
		}
	</style>

	{{ block("MenuTop", "Menus/MenuTop.html.twig") }}

	<div class="app-main">

		{{ block("MenuLeft", "Menus/MenuLeft.html.twig") }}


		<div class="app-main__outer">
			<div class="app-main__inner">
				<div class="app-page-title">
					<div class="page-title-wrapper">
						<div class="page-title-heading">
							<div class="page-title-icon">
								<i class="pe-7s-mail icon-gradient bg-strong-bliss"></i>
							</div>
							<div>
								Message

							</div>
						</div>
						<div class="page-title-actions">

							<a href="{{ path('app_messages') }}" class="nav-link">
								<i class="nav-link-icon pe-7s-chat"></i>
								<span>Boîte de réception
								</span>&ensp;
								<div class="ml-auto badge badge-pill badge-info">
									{% set total = 0 %}
									{% for message in app.user.received %}
										{% if message.isRead == 0 %}
											{% set total = total +1 %}
										{% else %}
											{% set total = 0 %}
										{% endif %}
									{% endfor %}
									{{total}}

								</div>
							</a>


							<a href="{{path('app_messages_envoyés')}}" class="nav-link">
								<i class="nav-link-icon pe-7s-wallet"></i>
								<span>Éléments envoyés</span>
								&ensp;
								<div class="ml-auto badge badge-pill badge-info">
									{% set total = 0 %}
									{% for message in app.user.sent %}
										{% if message.isRead == 0 %}
											{% set total = total +1 %}
										{% else %}
											{% set total = 0 %}
										{% endif %}
									{% endfor %}
									{{total}}

								</div>

							</a>


							<a href="{{path('app_messages_brouillons')}}" class="nav-link">
								<i class="nav-link-icon pe-7s-file"></i>
								<span>Brouillons</span>

							</a>

							<a href="{{path('app_messages_corbeille')}}" class="nav-link">
								<i class="nav-link-icon pe-7s-trash"></i>
								<span>Corbeille</span>
							</a>


							<div class="d-inline-block dropdown">
								<a href="{{ path('app_envoi_messages') }}">
									<button class="btn-shadow btn btn-info">
										<span class="btn-icon-wrapper pr-2 opacity-7">
											<i class="pe-7s-pen" style="    font-weight: bold;
																																																																																																												    color: white;
																																																																																																												    font-size: 18px;"></i>
										</span>
										<span style="    position: relative;
																																																																																																			    float: right;">Nouveau message</span>
									</button>
								</a>
							</div>
						</div>
					</div>

					<br>

					<div class="app-main__inner p-0">
						<div class="app-inner-layout chat-layout">

							<div class="app-inner-layout__wrapper">
								<div class="app-inner-layout__content card">
									<div>
										<div class="app-inner-layout__top-pane">
											<div class="pane-left">
												<div class="mobile-app-menu-btn">
													<button type="button" class="hamburger hamburger--elastic">
														<span class="hamburger-box">
															<span class="hamburger-inner"></span>
														</span>
													</button>
												</div>


											</div>

										</div>
										<div class="bg-white" style="padding: 25px;margin-top: -10px;">
											{{ form_start(form) }}

											<div class="row">
												<div class="col-md-12">
													{{ form_label(form.recipient, 'À : ') }}
													{{ form_row(form.recipient,{'attr': {'class': 'form-control'}}) }}
													{{ form_errors(form.recipient) }}

													<span class="copie" style="float:right;cursor:pointer;    ">Copie à</span>

												</div>

												<div class="col-md-12 users">

													{{ form_label(form.users, 'Copie à : ') }}
													{{ form_row(form.users,{'attr': {'class': 'form-control'}}) }}
													{{ form_errors(form.users) }}
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col-md-6">
													{{ form_label(form.objet, 'Objet :') }}
													{{ form_row(form.objet,{'attr': {'class': 'form-control'}}) }}
													{{ form_errors(form.objet) }}
												</div>


											</div>
											<br>
											<div class="row">
												<div class="col-md-12">
													{{ form_row(form.message,{'attr': {'class': 'form-control'}}) }}
													{{ form_errors(form.message) }}
												</div>
												<div class="col-md-12">
													<br>
													<span class="joindre" style="cursor:pointer;">
														<i class="pe-7s-paperclip " style="       font-size: 28px;
																																																												    color: #484848;
																																																												    cursor: pointer;
																																																												    float: left;
																																																												    padding-right: 8px;"></i>Joindre un fichier
													</span>
													<br>
													<br>
													{{ form_row(form.documents,{'attr': {'class': 'form-control'}}) }}
													{{ form_errors(form.documents) }}
												</div>
											</div>
											{{ form_row(form.brouillon,{'attr': {'class': 'form-control '}}) }}
											{{ form_errors(form.brouillon) }}
											<br>
											<div style="float:left">
												<button class="mt-1 btn btn-info">{{ button_label|default('Envoyer le message') }}</button>

												ou
												<a href="{{ path('app_messages') }}">Retour à la liste</a>
												</div>
													<div style="float:right;">
												<button class="mt-1 btn btn-info sauvegarder" style="float:right;">{{ button_label|default('Sauvegarder dans brouillons') }}</button>
											</div>
											{{ form_end(form) }}

										</div>
									</div>
								</div>

							</div>
						</div>


					</div>
				</div>
				{{ block("Footer", "Menus/Footer.html.twig") }}
			</div>

		</div>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

		<script>
			$("#messages_recipient").select2({
tags: true,
tokenSeparators: [',', ' ']
})
$("#messages_users").select2({
tags: true,
tokenSeparators: [',', ' ']
})


$('.joindre').click(function () {

var clicks = $(this).data('clicks');
if (clicks) {

$("#messages_documents").show();

} else {
$("#messages_documents").hide();
}
$(this).data("clicks", ! clicks);
});


$('.copie').click(function () {

var clicks = $(this).data('clicks');
if (clicks) {

$(".users").show();

} else {
$(".users").hide();
}
$(this).data("clicks", ! clicks);
});


$('#messages_brouillon').val(0);


$('.sauvegarder').click(function () {
$('#messages_brouillon').val(1);

});
		</script>
	{% endblock %}
