{% extends 'base.html.twig' %}

{% block title %}Messagerie-Message
{% endblock %}

{% block body %}
	{{ block("MenuTop", "Menus/MenuTop.html.twig") }}

	<div class="app-main">

		{{ block("MenuLeft", "Menus/MenuLeft.html.twig") }}

		<style>
			#messages_recipient,
			#messages_objet {
				display: none;
			}
			label[for=messages_recipient] {
				display: none;
			}
			label[for=messages_objet] {
				display: none;
			}
			label[for=messages_message] {
				display: none;
			}
		</style>
		<style>

			.nav-link {

				float: left;
				font-weight: normal;
			}
			.app-page-title .page-title-actions {
				margin-left: 20px;
			}
			.nav-link .nav-link-icon {
				color: #000000;
				font-size: 18px;
				margin-left: -10px;
				opacity: .45;
				text-align: center;
				width: 30px;
				font-weight: 900;
			}
			.app-page-title .page-title-actions {
				margin-left: 20px;
				width: 100%;
			}
			#messages_users {
				display: none;

			}
			#messages_brouillon {
				display: none;
			}
			#messages_files {
				display: none;
			}
			form {
				display: none;
			}
			.app-inner-layout .app-inner-layout__wrapper .app-inner-layout__content .app-inner-layout__bottom-pane {
    border-top: none;
    padding: 1.5rem;
}
.mb-0{
	width: 100%;
}
		</style>
		<div class="app-main__outer">
			<div class="app-main__inner">
				<div class="app-page-title">
					<div class="page-title-wrapper">
						<div class="page-title-heading">
							<div class="page-title-icon">
								<i class="pe-7s-diamond icon-gradient bg-strong-bliss"></i>
							</div>
							<div></div>
						</div>
						<div class="page-title-actions">


							<a href="{{ path('app_messages') }}" class="nav-link">
								<i class="nav-link-icon pe-7s-chat"></i>
								<span>Boîte de réception
								</span>&ensp;
								<div class="ml-auto badge badge-pill badge-info">
									{% set totalrecu = 0 %}
									{% for recu in recus %}

										{% set totalrecu = totalrecu + 1 %}

									{% endfor %}

									{{totalrecu}}

								</div>
							</a>


							<a href="{{path('app_messages_envoyés')}}" class="nav-link">
								<i class="nav-link-icon pe-7s-wallet"></i>
								<span>Éléments envoyés</span>
								&ensp;
								<div class="ml-auto badge badge-pill badge-info">
									{% set totalelem = 0 %}
									{% for element in elements %}

										{% set totalelem = totalelem + 1 %}

									{% endfor %}

									{{totalelem}}

								</div>

							</a>


							<a href="{{path('app_messages_brouillons')}}" class="nav-link">
								<i class="nav-link-icon pe-7s-file"></i>
								<span>Brouillons</span>
								&ensp;
								<div class="ml-auto badge badge-pill badge-info">
									{% set totalbrouillons = 0 %}
									{% for brouillon in brouillons %}

										{% set totalbrouillons = totalbrouillons + 1 %}

									{% endfor %}

									{{totalbrouillons}}

								</div>
							</a>

							<a href="{{path('app_messages_corbeille')}}" class="nav-link">
								<i class="nav-link-icon pe-7s-trash"></i>
								<span>Corbeille</span>
								&ensp;
								<div class="ml-auto badge badge-pill badge-info">
									{% set totalsupp = 0 %}
									{% for suppression in suppressions %}

										{% set totalsupp = totalsupp + 1 %}

									{% endfor %}

									{{totalsupp}}

								</div>
							</a>

							<div class="d-inline-block dropdown">
								<a href="{{ path('app_envoi_messages') }}">
									<button class="btn-shadow btn btn-info">
										<span class="btn-icon-wrapper pr-2 opacity-7">
											<i class="pe-7s-pen" style="    font-weight: bold;
																																																																																																																																																																																																																																				    color: white;
																																																																																																																																																																																																																																				    font-size: 18px;"></i>
										</span>
										<span style="    position: relative;
																																																																																																																																																																																																																	    float: right;">Nouveau message</span>
									</button>
								</a>
							</div>
						</div>
					</div>
					<br>
					<div class="tabs-animation">
						<div class="app-inner-layout chat-layout">

							<div class="app-inner-layout__wrapper">
								<div class="app-inner-layout__content card">
									<div class="table-responsive">

										<div class="row" style="padding-left:27px;padding-top:20px;    width: 100%;">
											<div class="col-md-2" style="    max-width: 50px;">
												<div class="avatar-icon-wrapper mr-1">
													<div class="avatar-icon avatar-icon-lg rounded">
		{% if photoprofil %}
	<img src="{{ asset('uploads' ~ photoprofil.image)}}" alt=""><br>

				{% else %}
<img src="{{asset('assets/images/avatars/user01.png')}}" alt=""><br>
				{% endif %}
														

													</div>

												</div>
											</div>
											<div class="col-md-6">

												<h3>{{message.objet}}</h3>
												{{message.sender.email}}<br>
												<b>{{message.sender.prenom}}
													{{message.sender.nom}}</b><br>
												À moi
												<small class="opacity-6">
													<i class="fa fa-calendar-alt mr-1"></i>
													{{message.createdAt|date('d/m/Y h:i')}}
												</small>
											</div>
										</div>
										<div class="chat-wrapper">
											<div class="chat-box-wrapper">


												<div class="row">

													<div class="avatar-icon-wrapper mr-1">
														<div class="avatar-icon avatar-icon-lg rounded"></div>

													</div>

												</div>
												<div>

													<div class="chat-box">

														{{message.message|raw()}}
														{% if message.files %}
															<b>
																Pièces jointes</b><br>
															{% for document in message.files %}
																<i class="pe-7s-paperclip"></i>
																<a target="_blank" href="{{asset('uploads/')}}{{ document.name }} ">{{ document.name }}<br>
																</a>
															{% endfor %}
															{% else %}


														{% endif %}

													</div>

												</div>


											</div>
	<div class="col-md-12">
	<form method="post" action="{{ path('app_messages_delete', {'id': message.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');"style="display: contents;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
												<button class="mt-1 btn btn-danger supprimer" style="float:right;"><i class="nav-link-icon pe-7s-trash"></i> {{ button_label|default('Supprimer') }}</button>

</form>
										</div>

										</div>
									
										<div style="float:left; padding-left:70px;padding-top:0;    position: absolute;">
											<button class="btn-shadow btn btn-info rep">
												<i class="pe-7s-refresh"></i>
												Répondre</button>

										</div>
										<div class="app-inner-layout__bottom-pane d-block text-center">
											<div class="mb-0 position-relative row form-group">
												<div class="col-sm-12">

													{{ form_start(form) }}

													<div class="row">
														<div class="col-md-12">
															{{ form_label(form.recipient, 'Envoyer à :') }}
															{{ form_row(form.recipient,{'attr': {'class': 'form-control hidden','value': message.sender.id}}) }}
															{{ form_errors(form.recipient) }}
														</div>
													</div>
													<br>
													<div class="row">
														<div class="col-md-6">
															{{ form_label(form.objet, 'Objet :') }}
															{{ form_row(form.objet,{'attr': {'class': 'form-control','value':message.objet}}) }}
															{{ form_errors(form.objet) }}
														</div>


													</div>
													<br>
													<div class="row">
														<div class="col-md-12">
														
															{{ form_row(form.message,{'attr': {'class': 'form-control'}}) }}

															{{ form_errors(form.message) }}
														</div>

														<div class="col-md-12">
															<br>
															<i class="pe-7s-paperclip joindre" style="    font-size: 18px;
																																																																																																																																																																																																																																																																																																																									    color: #484848;
																																																																																																																																																																																																																																																																																																																									    cursor: pointer; float:right;">
																Joindre un fichier</i>
															<br>
															<br>
															{{ form_row(form.files,{'attr': {'class': 'form-control'}}) }}
															{{ form_errors(form.files) }}

															{{ form_row(form.brouillon,{'attr': {'class': 'form-control '}}) }}
															{{ form_errors(form.brouillon) }}
														</div>
													</div>
													<br>
													<div style="float:left">
														<button class="mt-1 btn btn-info">{{ button_label|default('Envoyer le message') }}</button>

														ou
														<a href="{{ path('app_messages') }}">Retour à la liste</a>
													</div>

												</div>

												{{ form_end(form) }}
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>


			</div>
		</div>

	</div>
</div>
{{ block("Footer", "Menus/Footer.html.twig") }}</div></div><script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script><script>$('.joindre').click(function () {

var clicks = $(this).data('clicks');
if (clicks) {

$("#messages_files").show();

} else {
$("#messages_files").hide();
}
$(this).data("clicks", ! clicks);
});

$('.rep').click(function () {

$('form').show("slow");
$(this).hide("slow");
});


$('#messages_brouillon').val(0);</script>{% endblock %}
